---
layout: default
---

<div class="home">
  <h1 class="page-heading">
    {{ page.title | xml_escape }}: <a href="/EIPS/eip-{{ page.eip | xml_escape }}">EIP {{ page.eip | xml_escape }}</a>
    <a href="{{site.github.repository_url}}/blob/master/{{page.path}}"><svg role="img" aria-label="Source" xmlns="https://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><title>Source</title><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"/></svg></a>
  </h1>
  <table>
    <tr><th>역식자</th><td>{% include authorlist.html authors=page.author %}</td></tr>
    <tr><th>작성일</th><td>{{ page.created | xml_escape }}</td></tr>
    <tr><th>원문 작성자</th><td>{% include authorlist.html authors=page.eip-author %}</td></tr>
    <tr><th>원문 상태</th><td>{{ page.eip-status | xml_escape }}</td></tr>
    <tr><th>원문 종류</th><td>{{ page.eip-type | xml_escape }}</td></tr>
    {% if page.eip-category != undefined %}
      <tr><th>원문 카테고리</th><td>{{ page.eip-category | xml_escape }}</td></tr>
    {% endif %}
    <tr><th>원문 작성일</th><td>{{ page.eip-created | xml_escape }}</td></tr>
    {% if page["eip-requires"] != undefined %}
      <tr><th>다음항목 필요</th><td>{% include eipnums.html eips=page.eip-requires %}</td></tr>
    {% endif %}
    {% if page["eip-replaces"] != undefined %}
      <tr><th>다음항목 대체</th><td>{% include eipnums.html eips=page.eip-replaces %}</td></tr>
    {% endif %}
    {% if page["eip-superseded-by"] != undefined %}
      <tr><th>다음으로 대체됨</th><td>{% include eipnums.html eips=page.eip-superseded-by %}</td></tr>
    {% endif %}
    {% if page["eip-resolution"] != undefined %}
      <tr><th>다음항목 해결</th><td><a href="{{page.eip-resolution | uri_escape }}">{{ page.eip-resolution | xml_escape }}</a></td></tr>
    {% endif %}
  </table>

  {{ content }}

</div>
